<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>
            Phishing Detector
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="background">
            <div class="gradient-blob"></div>
            <div class="gradient-blob"></div>
            <div class="gradient-blob"></div>
        </div>

        <main>
            <h1>Phishing Detector</h1>
            <p class="subtitle">E-mail Phishing Detector with 97% accuracy</p>

            <div class="cards-container">
                <div class="card" data-rotation-factor="2">
                    <div class="card-content">
                        <h2>Card title</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, qui! Distinctio adipisci odio molestiae quasi.</p>
                        <div class="card-footer">
                            <button class="card-button">Detect</button>
                        </div>
                    </div>%
                </div>
            </div>
        </main> 
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>           
    </body>


</html>
